html,body,.above{
	width:100%;
	height:100%;
}
.above{
	display:-webkit-flex;
	-webkit-flex-direction:column;
	font-size:.3rem;
	&>div{
		width:100%;
		height:100%;
	}
}
b{font-weight:300;}
i{font-style:normal;}
a{
    color:#000;
}
.header{
			background:#ff5046;
			line-height:.87rem;
			color:white;
			display:-webkit-flex;
           a{
             color:#fff;
           }
			p{
				-webkit-flex:1;
				font-size:.38rem;
				&:nth-child(1){
					.fa{
						margin-left:.26rem;
						margin-right:.66rem;
					}
				}
				&:nth-child(2){
					text-align:center;
					font-size:.4rem;
				}
				&:nth-child(3){
					text-align:right;
					.fa{
						margin-right:.26rem;
						margin-left:.66rem;
					}
				}
			}
  }
.main{
	-webkit-flex:1;
	overflow:hidden;
	.paihang1{
		.tui{
			display:-webkit-flex;
			line-height:.7rem;
			li{
				-webkit-flex:1;
				text-align:center;
			}
			.r{
                span{
                    border-bottom:3px solid #ff5046;
                    height:100%;
                    display:block;
                }
			}
		}
        ul{
        			li{
        				height:3rem;
        				background:url('../music/53.png') no-repeat;
        				position:relative;
        				background-size:cover;
        				&:nth-of-type(1){
        					background-position:0 0;
        				}
        				&:nth-of-type(2){
        					background-position:0 33%;
        				}
        				&:nth-of-type(3){
        					background-position:0 66%;
        				}
        				&:nth-of-type(4){
        					background-position:0 66%;
        				}
        				dl{
        					width:100%;
        					dt{
        						width:1.42rem;
        						height:1.42rem;
        						background:rgba(0,0,0,0.5);
        						border-radius:.8rem;
        						position:absolute;
        						left:50%;
        						top:50%;
        						margin-top:-1rem;
        						margin-left:-.61rem;
        						text-align:center;
        						img{
        							width:.68rem;
        							height:.8rem;
        							position:absolute;
        							top:0;
        							left:0;
        							right:0;
        							bottom:0;
        							margin:auto;
        						}
        					}
        					dd{
        						width:100%;
        						position:absolute;
        						bottom:0;
        						left:0;
        						height:.8rem;
        						background:rgba(0,0,0,0.5);
        						color:#fff;
        						text-align:center;
        						line-height:.8rem;
        					}
        				}
        			}
        }
     }
}
.footer{
        border-top:1px solid #ff7067;
       
        .dls{
        		display:-webkit-flex;
        		padding:.15rem 0;
        		dt{
        			width: .78rem;
        			height: .79rem;
        			margin-left:.26rem;
        			margin-right:.18rem;
        			img{
        				width:100%;
        				height:100%;
        			}
        		}
        		dd{
        			-webkit-flex:1;
        			p{
        				&:nth-of-type(1){
	        				font-family:"MicroSoft Yahei";
	        			}
	        			&:nth-of-type(2){
	        				font-size:.2rem;
	        				color:#666;
	        				margin-top:.05rem;
	        			}
        			}

        		}
        		span{
        			i{
        				color:#ff5046;
        				margin-top:.2rem;
        				&:nth-of-type(2){
        					margin-right:.4rem;
        				}
        				&:nth-of-type(1){
        					margin-right:.3rem;
        				}
        			}
        		}
        }
        .dl1{
             background:#fff;
             margin-top:.2rem;
             dt{
        		width:.82rem;
        	    height:.79rem;
        	    margin-left:.3rem;
        	    p{
        	    	color:#ccc;
        	    }
             }
        }
}