html, body, .above {
  width: 100%;
  height: 100%; }

i, em {
  font-style: normal; }

.above {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  font-size: .3rem;
  overflow: hidden; }

.header {
  background: #ff5046;
  z-index: 999;
  line-height: .86rem;
  display: -webkit-flex; }
  .header a {
    color: white;
    display: inline-block; }
  .header span {
    -webkit-flex: 1; }
    .header span:nth-child(1) {
      margin-left: .26rem;
      font-size: .6rem;
      color: #fff; }
    .header span:nth-child(2) {
      text-align: center;
      -webkit-flex: 2;
      color: #fff;
      font-size: .35rem; }

.main {
  background: #f5f5f5;
  -webkit-flex: 1;
  overflow: hidden; }
  .main h4 {
    line-height: .72rem;
    width: 100%;
    text-align: center;
    background: #fff; }
  .main .ban {
    height: 3.03rem;
    width: 100%; }
    .main .ban ul {
      width: 100%;
      height: 100%;
      display: -webkit-flex; }
      .main .ban ul li {
        -webkit-flex-shrink: 0;
        height: 100%;
        width: 100%;
        background: url("../music/8.png") no-repeat;
        background-size: 100%; }
  .main .t {
    margin-top: .2rem;
    padding: .2rem 0;
    display: -webkit-flex;
    background: #fff;
    -webkit-flex-wrap: nowrap; }
    .main .t a {
      width: 100%;
      display: inline-block; }
    .main .t dl {
      -webkit-flex: 1; }
      .main .t dl dt {
        width: 1.03rem;
        height: 1.03rem;
        border-radius: .5rem;
        margin: 0 auto;
        position: relative; }
        .main .t dl dt img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto; }
      .main .t dl dd {
        text-align: center;
        margin-top: .1rem; }
      .main .t dl:nth-of-type(1) dt {
        background: #ff657c; }
        .main .t dl:nth-of-type(1) dt img {
          width: .63rem;
          height: .65rem; }
      .main .t dl:nth-of-type(2) dt {
        background: #00d8c9; }
        .main .t dl:nth-of-type(2) dt img {
          width: .63rem;
          height: .75rem; }
      .main .t dl:nth-of-type(3) dt {
        background: #00d8c9; }
        .main .t dl:nth-of-type(3) dt img {
          width: .63rem;
          height: .78rem; }
      .main .t dl:nth-of-type(4) dt {
        background: #de79ff; }
        .main .t dl:nth-of-type(4) dt img {
          width: .63rem;
          height: .47rem; }
  .main .tt {
    padding: .2rem 0;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    background: #fff; }
    .main .tt dl {
      width: 20%;
      -webit-flex-shrink: 0;
      margin-bottom: .1rem; }
      .main .tt dl dt {
        width: 1.03rem;
        height: 1.03rem;
        border-radius: .5rem;
        margin: 0 auto;
        position: relative; }
      .main .tt dl dd {
        text-align: center;
        margin-top: .1rem; }
      .main .tt dl:nth-of-type(1) dt {
        background: url("../music/a6.png") no-repeat;
        background-size: 100% 100%; }
      .main .tt dl:nth-of-type(2) dt {
        background: url("../music/a5.png") no-repeat;
        background-size: 100% 100%; }
      .main .tt dl:nth-of-type(3) dt {
        background: url("../music/a4.png") no-repeat;
        background-size: 100% 100%; }
      .main .tt dl:nth-of-type(4) dt {
        background: url("../music/a2.png") no-repeat;
        background-size: 100% 100%; }
      .main .tt dl:nth-of-type(5) dt {
        background: url("../music/97.png") no-repeat;
        background-size: 100% 100%; }
      .main .tt dl:nth-of-type(6) dt {
        background: url("../music/98.png") no-repeat;
        background-size: 100% 100%; }
      .main .tt dl:nth-of-type(7) dt {
        background: url("../music/51.png") no-repeat;
        background-size: 100% 100%; }
      .main .tt dl:nth-of-type(8) dt {
        background: url("../music/49.png") no-repeat;
        background-size: 100% 100%; }
      .main .tt dl:nth-of-type(9) dt {
        background: url("../music/50.png") no-repeat;
        background-size: 100% 100%; }
      .main .tt dl:nth-of-type(10) dt {
        background: url("../music/58.png") no-repeat;
        background-size: 100% 100%; }
  .main .pa li {
    line-height: .93rem; }
    .main .pa li a {
      width: 100%;
      display: inline-block; }
  .main ul li {
    background: #fff;
    padding-left: .28rem;
    color: #333;
    border-bottom: 1px solid #ccc; }
    .main ul li:nth-of-type(1) {
      margin-top: .2rem; }
    .main ul li:nth-of-type(4n) {
      margin-top: .2rem; }
    .main ul li span {
      float: right;
      margin-right: .25rem;
      margin-top: .27rem;
      font-size: .45rem; }
  .main ol li {
    margin-bottom: .2rem;
    line-height: .93rem;
    background: #fff;
    font-size: .35rem;
    padding-left: .3rem; }
  .main .tuijian {
    margin-top: .2rem; }
    .main .tuijian dl {
      padding: .14rem .28rem;
      background: #fff;
      display: -webkit-flex;
      position: relative;
      margin-bottom: .2rem; }
      .main .tuijian dl:nth-of-type(2) dt {
        background: url("../music/a2.png") no-repeat;
        background-size: 100%; }
      .main .tuijian dl:nth-of-type(3) dt {
        background: url("../music/a4.png") no-repeat;
        background-size: 100%; }
      .main .tuijian dl:nth-of-type(4) dt {
        background: url("../music/100.png") no-repeat;
        background-size: 100%; }
      .main .tuijian dl:nth-of-type(5) dt {
        background: url("../music/96.png") no-repeat;
        background-size: 100%; }
      .main .tuijian dl:nth-of-type(6) dt {
        background: url("../music/97.png") no-repeat;
        background-size: 100%; }
      .main .tuijian dl dt {
        width: .85rem;
        height: .85rem;
        background: url("../music/a1.png") no-repeat;
        background-size: 100%; }
        .main .tuijian dl dt img {
          width: 100%;
          height: 100%; }
      .main .tuijian dl dd {
        -webkit-flex: 1;
        margin-left: .5rem; }
        .main .tuijian dl dd b {
          display: block; }
        .main .tuijian dl dd img {
          height: .18rem; }
      .main .tuijian dl span {
        width: .86rem;
        height: .42rem;
        text-align: center;
        color: white;
        background: #ff5046;
        line-height: .42rem;
        border-radius: .3rem;
        position: absolute;
        top: .28rem;
        right: .3rem;
        font-size: .2rem; }

.footer {
  border-top: 1px solid #ff7067; }
  .footer a {
    width: 100%;
    display: inline-block; }
  .footer .dls {
    display: -webkit-flex;
    padding: .15rem 0; }
    .footer .dls dt {
      width: .78rem;
      height: .79rem;
      margin-left: .26rem;
      margin-right: .18rem; }
      .footer .dls dt img {
        width: 100%;
        height: 100%; }
    .footer .dls dd {
      -webkit-flex: 1; }
      .footer .dls dd p:nth-of-type(1) {
        font-family: "MicroSoft Yahei"; }
      .footer .dls dd p:nth-of-type(2) {
        font-size: .2rem;
        color: #666;
        margin-top: .05rem; }
    .footer .dls span i {
      color: #ff5046;
      margin-top: .2rem; }
      .footer .dls span i:nth-of-type(2) {
        margin-right: .4rem; }
      .footer .dls span i:nth-of-type(1) {
        margin-right: .3rem; }
  .footer .dl1 {
    background: #fff;
    margin-top: .2rem; }
    .footer .dl1 dt {
      width: .82rem;
      height: .79rem;
      margin-left: .3rem; }
      .footer .dl1 dt p {
        color: #ccc; }

/*# sourceMappingURL=woyaochang.css.map */
