<link rel="stylesheet" href="css/find.css">
		
<header class="header">
			<p class='mi'><a ui-sref="first"><span class='fa fa-bars'></span><b>我的</b></a></p>
			<p class='yinyue'><a ui-sref="yinyue">音悦厅</a></p>
			<p class='find'><a ui-sref="find1"><b>发现</b><span class='fa fa-search'></span></a></p>
</header>
<main class="main" id='main' f-s> 
	 <div class='find1'  id='main2'>
	    <ul class='tu'>
		    <li class='r'><a ui-sref="find1"><span>唱吧</span></a></li>
		    <li class='dongtai'><a ui-sref="dongtai1"><span>动态广场</span></a></li>
		    <li class='singer'><a ui-sref="singer"><span>歌手榜</span></a></li>
	    </ul>
	    <div class="b swiper-container">
		    <ul class='swiper-wrapper'>
			    <li class='swiper-slide'><img src="music/36.png" alt=""></li>
			</ul>
		</div>
		<div class="dian">
			<dl><dt><img src="music/35.png" alt=""></dt><dd>点歌台</dd></dl>
			<dl class='havedian'><a ui-sref="havedian"><dt><img src="music/34.png" alt=""></dt><dd>已点歌曲</dd></a></dl>
			<dl class='locallu'><a ui-sref="locallu"><dt><img src="music/33.png" alt=""></dt><dd>本地录音</dd></a></dl>
		</div>
		<div class='dian_bot'>
			<div class="top">
				<dl>
					<dt></dt>
					<dd><b>张甜甜</b><br>背对背拥抱</dd>
				</dl>
				<p>没有什么才艺，就自己随便串了一首老林的歌，希望大家会喜欢,点个赞来鼓励我，希望朋友们为我加油打气<b class='thr'></b></p>
				<div class="div">
					<p><span><img src="music/75.png" alt="">9502</span><span><img src="music/74.png" alt="">送礼物</span><span><img src="music/73.png" alt="">分享</span><span><img src="music/72.png" alt="">评论</span><span></span></p>
					<p><span>09月06日</span><span>00:28</span></p>
				</div>
			</div>
			<div class="top top1">
			<dl>
				<dt></dt>
				<dd><b>小姑凉</b><br>大梦想家</dd>
			</dl>
			<p>新歌出炉，这是一首我最喜欢的歌，希望大家喜欢。<b class='thr'></b></p>
			<div class="div">
				<p><span><img src="music/75.png" alt="">9502</span><span><img src="music/74.png" alt="">送礼物</span><span><img src="music/73.png" alt="">分享</span><span><img src="music/72.png" alt="">评论</span><span></span></p>
				<p><span>09月06日</span><span>00:28</span></p>
			</div>
		</div>
	</div>
</div>
</main>
<footer class="footer">
				<a ui-sref="norfor">
				<dl class='dls dls2'>
					<dt><img src="music/96.png" alt=""></dt>
					<dd>
						<p>不是为谁而作的歌</p>
						<p>林俊杰</p>
					</dd>
					<span><i class='fa fa-play'></i><i class='fa fa-bars'></i></span>
				</dl>
				</a>
</footer>

