<link rel="stylesheet" href="css/style.css">

<header class="header">
			<p class='mi'><a ui-sref="first"><span class='fa fa-bars'></span><b>我的</b></a></p>
			<p class='yinyue'><a ui-sref="yinyue">音悦厅</a></p>
			<p class='find'><a ui-sref="find1"><b>发现</b><span class='fa fa-search'></span></a></p>
</header>
<main class="main" id='main' f-r>
			<div class="scroll mine1">
				<dl class='dls dl1'>
							<a ui-sref="login">
							   <dt><img src="music/100.png" alt=""></dt>
							   <dd>
								   <b>记得D</b>
								   <p>普通会员</p>
							   </dd>
						    </a>
				</dl>
				<div class="main_one">
						   <dl id='local'>
								<dt><i class='fa fa-music'></i></dt>
								<dd><a ui-sref="localmusic"><b>本地音乐</b><span>66首</span></a></dd>
						   </dl>
						   <dl id='download'>
								<dt><i class='fa fa-picture-o'></i></dt>
								<dd><a ui-sref="downloadmusic"><b>下载管理</b><span>35首</span></a></dd>
						   </dl>
						   <dl id='love'>
								<dt><i class='fa fa-heart-o'></i></dt>
								<dd><a ui-sref="lovemusic"><b>我喜欢</b><span>10首</span></a></dd>
						   </dl>
						   <dl id='listen'>
								<dt><i class='fa fa-headphones'></i></dt>
								<dd><a ui-sref="listen"><b>听歌识曲</b><span>66首</span></a></dd>
						   </dl>
				</div>
				<div class="main_two">
						  <h6>最近在听</h6>
						   <ul class='notfor'>
								<li><a ui-sref="listennot"><p><b>不是为谁而作的歌</b><span>林俊杰</span></p><i class='fa fa-ellipsis-h'></i></a></li>
								<li class='children'><a ui-sref="listennot"><p><b>小孩</b><span>薛之谦</span></p><i class='fa fa-ellipsis-h'></i></a></li>
						   </ul>
				</div>
				<div class="main_thr">
						   <h6>我创建的歌单(3个)</h6>
						   <dl>
								<dt><img src="./music/99.png" alt=""></dt>
								<dd><b>酒窝</b><span>林俊杰</span></dd>
								<i class='fa fa-angle-right'></i>
						   </dl>
						   <dl>
								<dt><img src="./music/98.png" alt=""></dt>
								<dd><b>我好像在哪里见过你</b><span>薛之谦</span></dd>
								<i class='fa fa-angle-right'></i>
						   </dl>
						   <dl>
								<dt><img src="./music/97.png" alt=""></dt>
								<dd><b>越爱越强</b><span>张杰</span></dd>
								<i class='fa fa-angle-right'></i>
						   </dl>
				</div>
			  
			</div>
</main>
<footer class="footer">
			<a ui-sref="norfor">
				<dl class='dls dls2'>
					<dt><img src="./music/96.png" alt=""></dt>
					<dd>
						<p>不是为谁而作的歌</p>
						<p>林俊杰</p>
					</dd>
					<span><i class='fa fa-play'></i><i class='fa fa-bars'></i></span>
				</dl>
			</a>
</footer>





