<link rel="stylesheet" href="css/gedan.css">
<header class="header">
   <p class='mi'><a ui-sref="index"><span class='fa fa-bars'></span><b>我的</b></a></p>
   <p class='yinyue'><a ui-sref="yinyue">音悦厅</a></p>
   <p class='find'><a ui-sref="find1"><b>发现</b><span class='fa fa-search'></span></a></p>
</header>
<main class="main" id='main' g-d>
	<div>
		<ul class='tui'>
			<li class='tuijian'><a ui-sref="yinyue"><span>推荐</span></a></li>
			<li class='paihang'><a ui-sref="paihang"><span>排行榜</span></a></li>
			<li class='r gedan'><a ui-sref="gedan"><span>歌单</span></a></li>
			<li class='xianchang'><a ui-sref="xianchang"><span>现场</span></a></li>
		</ul>
		<div class="divs">
			<div class='gedan1'>
				<div>
				  <ul>
				    <li class='b'>推荐</li>
				    <li>最新</li>
				    <li>最热</li>
				  </ul>
				  <div class='april'>
					    <div class='d_one'>
							<dl>
							 <dt><img src="music/52.png" alt=""></dt>
							 <dd><span class='fa fa-headphones'></span>294635</dd>
							</dl>
							<div>
								<p><b>爱如四月天</b><img src="music/42.png" alt="">小清新、流行、安静、旅游</p>
								<span>稻草人<img src="music/47.png" alt=""></span>
							</div>
						</div>
						<div class='d_one'>
							<dl>
								<dt><img src="music/52.png" alt=""></dt>
								<dd><span class='fa fa-headphones'></span>294635</dd>
							</dl>
							<div>
								<p><b>老板,这种绝世美颜给你</b><img src="music/42.png" alt=""><i>小清新、流行、安静、旅游、惊奇、</i></p>
								<span>稻草人<img src="music/46.png" alt=""></span>
					  		</div>
						</div>
						<div class='d_one'>
						    <dl>
							    <dt><img src="music/52.png" alt=""></dt>
							    <dd><span class='fa fa-headphones'></span>ichigo</dd>
						    </dl>
						    <div>
							    <p><b>青春正当时，不与负流年</b><img src="music/42.png" alt=""><i>小清新、安静、旅游、休闲、下午</i></p>
							    <span>稻草人<img src="music/45.png" alt=""></span>
							</div>
						</div>
						<div class='d_one'>
							<dl>
								<dt><img src="music/52.png" alt=""></dt>
								<dd><span class='fa fa-headphones'></span>太过认真</dd>
							</dl>
							<div>
								<p><b>致身处彷徨的朋友</b><img src="music/42.png" alt="">励志、治愈、减压</p>
								<span>图悟空<img src="music/44.png" alt=""></span>
							</div>
						</div>
				  </div>
				</div>
		</div>
	</div>
</main>
<footer class="footer">
				<a ui-sref="lin">
				<dl class='dls dls2'>
					<dt><img src="music/96.png" alt=""></dt>
					<dd>
						<p>不是为谁而作的歌</p>
						<p>林俊杰</p>
					</dd>
					<span><i class='fa fa-play'></i><i class='fa fa-bars'></i></span>
				</dl>
				</a>
</footer>