<link rel="stylesheet" href="css/dongtai.css">
<header class="header">
			<span class='dongtaiback'><a ui-sref="find1"><i class='fa fa-angle-left'></i></a></span>
			<span>动态广场</span>
			<span></span>
</header>
<main class="mai"  id='to' h-t>
	<div>
		<ul>
			<li data-tit='to1'><a ui-sref="dongtai1">最新</a></li>
			<li data-tit='hot'><a ui-sref="hot">最热</a></li>
		</ul>
		<div class="to">
      <div class='hot'>
	   <dl>
	   <dt></dt>
	   <dd>张静<br><b>背对背拥抱</b>12:32</dd>
	   <i><img src="music/28.png" alt="">来自心情</i>
	   <div class="div">
		   <p><span><img src="music/75.png" alt="">9502</span><span><img src="music/74.png" alt="">送礼物</span><span><img src="music/73.png" alt="">分享</span><span><img src="music/72.png" alt="">评论</span><span></span></p>
			<p><span>09月06日</span><span>00:28</span></p>
	   </div>
	   </dl>
	   <dl>
		<dt></dt>
		<dd>张静<br><b>背对背拥抱</b>12:32</dd>
		<i><img src="music/28.png" alt="">来自心情</i>
		<div class="div">
			<p><span><img src="music/75.png" alt="">9502</span><span><img src="music/74.png" alt="">送礼物</span><span><img src="music/73.png" alt="">分享</span><span><img src="music/72.png" alt="">评论</span><span></span></p>
	        <p><span>09月06日</span><span>00:28</span></p>
        </div>
	   </dl>
	   <dl>
	  <dt></dt>
	  <dd>张静<br><b>背对背拥抱</b>12:32</dd>
	  <i><img src="music/28.png" alt="">来自心情</i>
	  <div class="div">
		  <p><span><img src="music/75.png" alt="">9502</span><span><img src="music/74.png" alt="">送礼物</span><span><img src="music/73.png" alt="">分享</span><span><img src="music/72.png" alt="">评论</span><span></span></p>
		  <p><span>09月06日</span><span>00:28</span></p>
	  </div>
	   </dl>
	   <div class='y'>
		   <h4><b>上次您阅读到了这里</b><span>00:12</span></h4>
								
	   </div>
	   <dl>
	   <dt></dt>
	   <dd>张静<br><b>背对背拥抱</b>12:32</dd>
	   <i><img src="music/28.png" alt="">来自心情</i>
	   <div class="div">
		   <p><span><img src="music/75.png" alt="">9502</span><span><img src="music/74.png" alt="">送礼物</span><span><img src="music/73.png" alt="">分享</span><span><img src="music/72.png" alt="">评论</span><span></span></p>
		   <p><span>09月06日</span><span>00:28</span></p>
	   </div>
	   </dl>
	   <dl>
	     <dt></dt>
	     <dd>张静<br><b>背对背拥抱</b>12:32</dd>
	     <i><img src="music/28.png" alt="">来自心情</i>
	     <div class="div">
		     <p><span><img src="music/75.png" alt="">9502</span><span><img src="music/74.png" alt="">送礼物</span><span><img src="music/73.png" alt="">分享</span><span><img src="music/72.png" alt="">评论</span><span></span></p>
		     <p><span>09月06日</span><span>00:28</span></p>
	     </div>
	   </dl>
     </div>
  	    </div>
  	</div>
</main>