<link rel="stylesheet" href="css/singer.css">
<header class="header">
			<span class='huayumanback'><a ui-sref="singers1"><i class='fa fa-angle-left'></i></a></span>
			<span class='tt'></span>
			<span></span>
</header>
<main class="main m" id='main' h-s>
		<div>
			<h4>热门歌手</h4>
			<ol class='ol'>
				<li ui-sref='xr'>陈楚生</li>
				<li ui-sref='xr'>张杰</li>
				<li ui-sref='xr'>陈奕迅</li>
				<li ui-sref='xr'>吴亦凡</li>
				<li ui-sref='xr'>TFBoys</li>
				<li ui-sref='xr'>林俊杰</li>
				<li ui-sref='xr'>陶喆</li>
				<li ui-sref='xr'>老狼</li>
				<li ui-sref='xr'>王力宏</li>
				<li ui-sref='xr'>邓超</li>
				<li ui-sref='xr'>老狼</li>
				<li ui-sref='xr'>王力宏</li>
				<li ui-sref='xr'>邓超</li>
				<li ui-sref='xr'>老狼</li>
				<li ui-sref='xr'>王力宏</li>
				<li ui-sref='xr'>邓超</li>
			</ol>
		</div>
</main>