<link rel="stylesheet" href="css/style.css">

	<div class='indexpage swiper-container' o-s>
		<ul  class='kl swiper-wrapper'>
			<li class='swiper-slide'><h3>高潮嗨歌</h3><p>音乐　给你带来高潮人生</p></li>
			<li class='swiper-slide'><h3>高潮嗨歌</h3><p>音乐　给你带来高潮人生</p></li>
			<li class='swiper-slide'><h3>王者归来</h3><p>音乐　给你带来王者荣耀</p><button id="start"><a ng-click='tiao()'>点击开始</a></button></li>
		</ul>
		<ol class='swiper-pagination pagination' id='s'>
			<li class='active'></li>
			<li></li>
			<li></li>
		</ol>
	</div>


