
	<link rel="stylesheet" href="./css/listennt.css">
<div class="above">
	<div class="header"  g-m>
		<span class='listennotback'><a ui-sref="first"><i class='fa fa-angle-left'></i></a></span>
		<span class='t'></span>
		<span></span> 
	</div>
	<div class="main" id='main'>
		<div class="scroll"  g-m>
			<div class='ca'>
				<div class='c'>
					<span class='refresh'><img src="./music/69.png" alt=""><br><i>00:14</i></span>
					<span><i><img src="./music/65.png" alt=""></i></span>
					<span><i><img src="./music/66.png" alt=""></i></span>
					<span><i><img src="./music/67.png" alt=""></i></span>
					<span class='love'><img src="./music/64.png" alt=""><br><i>04:30</i></span>
				</div>
			</div>
			<div class="top">
				<dl>
					<dt></dt>
					<dd><b>孙子涵</b><br>北京歌王</dd>
				</dl>
				<p>试唱！勿立！谢谢！<b class='thr'></b></p>
				<div class="div">
					<p><span><img src="./music/75.png" alt="">9502</span><span><img src="./music/74.png" alt="">送礼物</span><span><img src="./music/73.png" alt="">分享</span><span><img src="./music/72.png" alt="">评论</span><span></span></p>
					<p><span>09月06日</span><span>00:28</span></p>
				</div>
				<img src="./music/71.png" alt="">
			</div>
			<div class="bot">
				<h4>贵宾席</h4>
				<ul>
					<li><b>1</b><dl><dt></dt><dd><i>此情可待</i><br>送礼价值1万唱币</dd></dl><img src="./music/63.png" alt=""></li>
					<li><b>2</b><dl><dt></dt><dd><i>忙工作</i><br>送礼价值5200唱币</dd></dl><img src="./music/63.png" alt=""></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<dl>
			<dt><img src="./music/80.png" alt=""></dt>
			<dd>送礼物(2235)</dd>
		</dl>
		<dl>
			<dt><img src="./music/79.png" alt=""></dt>
			<dd>评论(1708)</dd>
		</dl>
		<dl>
			<dt><img src="./music/78.png" alt=""></dt>
			<dd>转发(437)</dd>
		</dl>
	</div>
</div>

