<link rel="stylesheet" href="css/localmusic.css">
<div class="above">
<header class="header">
		<span class='musicback'><a ng-click='backfirst()'><i class='fa fa-angle-left'></i></a></span>
		<span>本地音乐</span>
		<span><img src="music/95.png" alt=""></span>
</header>
<main class="main">
		<p class='sin'>
			<span>歌手/56</span>
			<span>歌手/29</span>
			<span>专辑/19</span>
			<span>文件夹/2</span>
		</p>
		<div class="scroll" id="scroll" s-r>
			<ul>
				<li><p><span><i class="fa fa-caret-right"></i></span>随机播放全部</p><b>批量管理</b></li>
				<li><p><b>小精灵</b><span><img src="music/91.png" alt="">TFBOYS·小精灵</span></p><img src="music/92.png" alt="" class='pic'></li>
				<li><p><b>爱情转移</b><span><img src="music/91.png" alt="">TFBOYS·小精灵</span></p><img src="music/92.png" alt="" class='pic'></li>
				<li><p><b>爱是一个疯子</b><span><img src="music/91.png" alt="">TFBOYS·小精灵</span></p><img src="music/92.png" alt="" class='pic'></li>
				<li><p><b>相爱恨早</b><span><img src="music/91.png" alt="">TFBOYS·小精灵</span></p><img src="music/92.png" alt="" class='pic'></li>
				<li><p><b>多幸运</b><span><img src="music/91.png" alt="">TFBOYS·小精灵</span></p><img src="music/92.png" alt="" class='pic'></li>
				<li><p><b>林中鸟</b><span><img src="music/91.png" alt="">TFBOYS·小精灵</span></p><img src="music/92.png" alt="" class='pic'></li>
				<li><p><b>李白</b><span><img src="music/91.png" alt="">TFBOYS·小精灵</span></p><img src="music/92.png" alt="" class='pic'></li>
				<li><p><b>告白气球</b><span><img src="music/91.png" alt="">TFBOYS·小精灵</span></p><img src="music/92.png" alt="" class='pic'></li>
				<li><p><b>IF YOU</b><span><img src="music/91.png" alt="">TFBOYS·小精灵</span></p><img src="music/92.png" alt="" class='pic'></li>
			</ul>
		</div>
	</main>
	<footer class="footer">
		<dl class='dls'>
				<dt><img src="music/96.png" alt=""></dt>
				<dd>
					<p>不是为谁而作的歌</p>
					<p>林俊杰</p>
				</dd>
				<span><i class='fa fa-play'></i><i class='fa fa-bars'></i></span>
			</dl>
	</footer>
</div>
