<link rel="stylesheet" href="css/localmusic.css">
		<header class="header">
			<span class='localluback'><a ui-sref="find1"><i class='fa fa-angle-left'></i></a></span>
			<span>本地录音</span>
			<span></span>
		</header>
		<main class="ma">
			<dl>
				<dd><b>可惜没有如果</b>09-07 20:10 <img src="music/30.png" alt="">02:54</dd>
				<span>上传</span>
			</dl>
			<dl>
				<dd><b>背对背拥抱</b>09-07 20:10 <img src="music/30.png" alt="">03:54</dd>
				<span>上传</span>
			</dl>
			<dl>
				<dd><b>这就是爱</b>09-07 20:10 <img src="music/30.png" alt="">04:54</dd>
				<span>上传</span>
			</dl>
			<dl>
				<dd><b>丑八怪</b>09-07 20:10 <img src="music/30.png" alt="">02:54</dd>
				<span>上传</span>
			</dl>
		</main>
	</div>
</body>
</html>
<script src="often/js/zepto.min.js"></script>
<script src="often/js/swiper.min.js"></script>
<script src="often/js/iscroll5.js"></script>
<script>
 document.documentElement.style.fontSize=document.documentElement.clientWidth/7.5+"px";
 </script>
 <script src='js.js'></script>