<link rel="stylesheet" href="css/not.css">


		<div class="header" g-m>
			<span id='close'><a ui-sref="first"><img src="music/81.png" alt=""></a></span>
			<span><h5><i class='gm'>不是为谁而作的歌</i><p>录制<i>00:14</i>/<i>04:30</i></p></h5></span>
			<span><i>录片段</i></span>
		</div>
		<main class="main" b-l id='main'>
			<div class="blank">
				<div id='blank'>
					<ul>
						<li>原谅我一首歌</li>
						<li>不为谁而作的歌</li>
						<li>感觉仿佛窗外的夜色</li>
						<li>曾经有一刻</li>
						<li>回头竟然认不得</li>
						<li>需要从记忆在摸索的人</li>
						<li>和他们关心的 的地方</li>
						<li>和那些走过的请等一等</li>
						<li>梦为努力浇了水</li>
						<li>爱在背后往前进</li>
						<li>当我抬头才发觉</li>
						<li>我是不是忘了谁</li>
						<li>累到整夜不能睡觉</li>
					</ul>
				</div>
			</div>
			<span>离演奏还有2s,跳过原唱</span>
			<span class='change'><i>原唱</i><i>伴奏</i></span>
			<span class='hideword'>词</span>
			<p class='p'>戴上耳机，效果更好哟`</p>
		</main>
		<div class="footer">
			<dl>
				<dt><img src="music/86.png" alt=""></dt>
				<dd>重唱</dd>
			</dl>
			<dl>
				<dt><img src="music/85.png" alt=""></dt>
				<dd>暂停</dd>
			</dl>
			<dl>
				<dt><img src="music/84.png" alt=""></dt>
				<dd>完成</dd>
			</dl>
			<dl>
				<dt><img src="music/83.png" alt=""></dt>
				<dd>升降调</dd>
			</dl>
			<dl>
				<dt><img src="music/82.png" alt=""></dt>
				<dd>音量</dd>
			</dl>
		</div>
