<link rel="stylesheet" href="css/paihang.css">
<header class="header">
   <p class='mi'><a ui-sref="index"><span class='fa fa-bars'></span><b>我的</b></a></p>
   <p class='yinyue'><a ui-sref="yinyue">音悦厅</a></p>
   <p class='find'><a ui-sref="find1"><b>发现</b><span class='fa fa-search'></span></a></p>
 </header>
<main class="main" p-h id='main'>
    <div class='paihang1'>
    	<ol class='tui'>
		     <li class=' tuijian'><a ui-sref="yinyue"><span>推荐</span></a></li>
		     <li class='r paihang'><a ui-sref="paihang"><span>排行榜</span></a></li>
		     <li class='gedan'><a ui-sref="gedan"><span>歌单</span></a></li>
		     <li class='xianchang'><a ui-sref="xianchang"><span>现场</span></a></li>
		</ol>
       <ul>
	  <li><dl><dt><img src="music/56.png" alt=""></dt><dd>八哥音乐榜</dd></dl></li>
	  <li><dl><dt><img src="music/55.png" alt=""></dt><dd>八哥24H音乐榜</dd></dl></li>
	  <li><dl><dt><img src="music/54.png" alt=""></dt><dd>八哥KYV音乐榜</dd></dl></li>
	  <li><dl><dt><img src="music/54.png" alt=""></dt><dd>八哥24H音乐榜</dd></dl></li>
       </ul>
   </div>
</main>
<footer class="footer">
			<dl class='dls dls2'>
				<dt><img src="music/96.png" alt=""></dt>
				<dd>
					<p>不是为谁而作的歌</p>
					<p>林俊杰</p>
				</dd>
				<span><i class='fa fa-play'></i><i class='fa fa-bars'></i></span>
			</dl>
</footer>
