<link rel="stylesheet" href="css/dongtai.css">
<header class="header">
			<span class='dongtaiback'><a ui-sref="find1"><i class='fa fa-angle-left'></i></a></span>
			<span>歌手榜</span>
			<span></span>
</header>
<main class="main" id='main' s-s>
		<div>
			<ul id='choice'>
			   <li class='woyaochang'><a ui-sref="woyaocha"><dl><dt><img src="music/19.png" alt=""></dt><dd>作品榜</dd></dl></a></li>
			   <li class='fuhao'><dl><dt><img src="music/18.png" alt=""></dt><dd>富豪榜</dd></dl></li>
			   <li><dl><dt><img src="music/17.png" alt=""></dt><dd>我要参加</dd></dl></li>
			   <li><dl><dt><img src="music/16.png" alt=""></dt><dd>奖励明细</dd></dl></li>
			   <li><dl><dt><img src="music/15.png" alt=""></dt><dd>我的关注</dd></dl></li>
			   <li><dl><dt><img src="music/14.png" alt=""></dt><dd>我要投票</dd></dl></li>
			</ul>
			<div class="bot">
				<dl class='big'>
					<dt></dt>
					<dd>1.小仙仙<br>烟熏妆</dd>
				</dl>
				<div class="t">
					<dl>
						<dd>2.SHOL ROWUO...雷连铁甲战马英雄魂[电音版]</dd>
					</dl>
					<dl>
						<dd>3.幽兰<br>梦中，一直有蓝色的海洋</dd>
					</dl>
					<dl>
						<dd>4.小仙仙<br>烟熏妆</dd>
					</dl>
					<dl>
						<dd>5.小仙仙<br>烟熏妆</dd>
					</dl>
				</div>
			</div>
		</div>
</main>

