<link rel="stylesheet" href="css/singer.css">
	<header class="header">
			<span class='singersback'><a ui-sref="woyaocha"><i class='fa fa-angle-left'></i></a></span>
			<span>歌星</span>
			<span></span>
	</header>
	<main class="main " id='main' i-s>
		<div>
			<h4>热门歌手</h4>
			<div class="tt">
				<dl>
					<dt></dt>
					<dd>张杰</dd>
				</dl>
				<dl>
					<dt></dt>
					<dd>徐佳莹</dd>
				</dl>
				<dl>
					<dt></dt>
					<dd>张艺兴</dd>
				</dl>
				<dl>
					<dt></dt>
					<dd>薛之谦</dd>
				</dl>
				<dl>
					<dt></dt>
					<dd>黄致列</dd>
				</dl>
				<dl>
					<dt></dt>
					<dd>杜甫</dd>
				</dl>
				<dl>
					<dt></dt>
					<dd>孙红雷</dd>
				</dl>
				<dl>
					<dt></dt>
					<dd>黄渤</dd>
				</dl>
				<dl>
					<dt></dt>
					<dd>林志炫</dd>
				</dl>
				<dl>
					<dt></dt>
					<dd>李白</dd>
				</dl>
			</div>
			<ul class='pa'>
				<li><a ui-sref="huayuman1">华语男歌手<span class='fa fa-angle-right'></span></a></li>
				<li><a ui-sref="huayuman1">华语女歌手<span class='fa fa-angle-right'></span></a></li>
				<li><a ui-sref="huayuman1">话语组合<span class='fa fa-angle-right'></span></a></li>
				<li><a ui-sref="huayuman1">欧美男歌手<span class='fa fa-angle-right'></span></a></li>
				<li><a ui-sref="huayuman1">欧美女歌手<span class='fa fa-angle-right'></span></a></li>
				<li><a ui-sref="huayuman1">欧美组合<span class='fa fa-angle-right'></span></a></li>
			</ul>
		</div>
	</main>
	
