<link rel="stylesheet" href="css/woyaochang.css">
	<header class="header">
			<span class='dongtaiback'><a ui-sref="singer"><i class='fa fa-angle-left'></i></a></span>
			<span>我要唱</span>
			<span></span>
	</header>
	<main class="main" id='main' w-s>
		<div>
			<div class="ban swiper-container">
				<ul class='swiper-wrapper'>
					<li class='swiper-slide'></li>
				</ul>
			</div>
			<div class="t">
				<dl class='singers'>
					<a ui-sref="singers1">
					   <dt><img src="music/7.png" alt=""></dt>
					   <dd>歌星</dd>
					</a>
				</dl>
				<dl>
					<dt><img src="music/5.png" alt=""></dt>
					<dd>合唱</dd>
				</dl>
				<dl>
					<dt><img src="music/4.png" alt=""></dt>
					<dd>清唱</dd>
				</dl>
				<dl>
					<dt><img src="music/3.png" alt=""></dt>
					<dd>分类</dd>
				</dl>
			</div>
			<div class='tuijian'>
				<h4>推荐歌曲</h4>
				<dl>
					<dt></dt>
					<dd><b>会呼吸的痛</b>11.45M-梁静茹<br><img src="music/1.png" alt=""></dd>
					<span>演唱</span>
				</dl>
				<dl>
					<dt></dt>
					<dd><b>浮夸</b>11.45M-陈奕迅<br><img src="music/1.png" alt=""></dd>
					<span>演唱</span>
				</dl>
				<dl>
					<dt></dt>
					<dd><b>他不爱我</b>11.45M-张杰<br><img src="music/1.png" alt=""></dd>
					<span>演唱</span>
				</dl>
				<dl>
					<dt></dt>
					<dd><b>致青春</b>11.45M-王菲<br><img src="music/1.png" alt=""></dd>
					<span>演唱</span>
				</dl>
				<dl>
					<dt></dt>
					<dd><b>超越无限</b>11.45M-林俊杰<br><img src="music/1.png" alt=""></dd>
					<span>演唱</span>
				</dl>
			</div>
		</div>
	</main>

