<link rel="stylesheet" href="css/xianchang.css">

<header class="header">
   <p class='mi'><a ui-sref="first"><span class='fa fa-bars'></span><b>我的</b></a></p>
   <p class='yinyue'><a ui-sref="yinyue">音悦厅</a></p>
   <p class='find'><a ui-sref="find1"><b>发现</b><span class='fa fa-search'></span></a></p>
</header>
<main class="main" id='main' c-x>
    <div class="xianchang1" id='xc1'>
    	<ul class='tui'>
			<li class='tuijian'><a ui-sref="yinyue"><span>推荐</span></a></li>
			<li class='paihang'><a ui-sref="paihang"><span>排行榜</span></a></li>
			<li class='gedan'><a ui-sref="gedan"><span>歌单</span></a></li>
			<li class='r xianchang'><a ui-sref="xianchang"><span>现场</span></a></li>
		</ul>
		<div>
			<div class="ba swiper-container">
				<ul class='swiper-wrapper'>
					<li class='swiper-slide'></li>
				</ul>
			</div>	
			<div class="mv">
			    <figure>
				    <figcaption>
				    	<img src="music/40.png" alt="">
				    </figcaption>
				    <p>精彩MV</p>
			    </figure>
			    <figure>
			    	<figcaption>
				    	<img src="music/39.png" alt="">
				    </figcaption>
				    <p>八哥现场</p>
		    	</figure>
				<figure>
					<figcaption>
						<img src="music/38.png" alt="">
					</figcaption>
					<p>演出门票</p>
				</figure>
			</div>
			<div class="bo">
				<h4>八哥现场</h4>
				<div class='dd'>
					<dl>
						<dt><img src="music/a5.png" alt=""></dt>
						<dd><b>伏诛</b>张杰</dd>
					</dl>
					<dl>
						<dt><img src="music/a7.png" alt=""></dt>
						<dd><b>lll</b>张杰</dd>
				</dl>
				<dl>
					<dt><img src="music/a8.png" alt=""></dt>
					<dd><b>伏诛</b>张杰</dd>
				</dl>
				<dl>
					<dt><img src="music/a8.png" alt=""></dt>
					<dd><b>伏诛</b>张杰</dd>
										</dl>
				<dl>
					<dt><img src="music/a8.png" alt=""></dt>
					<dd><b>伏诛</b>张杰</dd>
				</dl>
				<dl>
					<dt><img src="music/a8.png" alt=""></dt>
					<dd><b>爱笑的眼睛</b>张杰</dd>
				</dl>
				</div>
			</div>
		</div>
    </div>
</main>
<footer class="footer">
				<a ui-sref="lin">
				<dl class='dls dls2'>
					<dt><img src="music/96.png" alt=""></dt>
					<dd>
						<p>不是为谁而作的歌</p>
						<p>林俊杰</p>
					</dd>
					<span><i class='fa fa-play'></i><i class='fa fa-bars'></i></span>
				</dl>
				</a>
</footer>