<link rel="stylesheet" href="css/yinyueting.css">

       <header class="header">
			<p class='mi'><a ui-sref="first"><span class='fa fa-bars'></span><b>我的</b></a></p>
			<p class='yinyue'><a ui-sref="yinyue">音悦厅</a></p>
			<p class='find'><a ui-sref="find1"><b>发现</b><span class='fa fa-search'></span></a></p>
       </header>
       <main class="main" id='main' y-y>
       		<div class="scroll main1">
               <div class="yinyueting1" id='main1'>
					<ul class='tui'>
						<li class='r tuijian'><a ui-sref="yinyue"><span>推荐</span></a></li>
						<li class='paihang'><a ui-sref="paihang"><span>排行榜</span></a></li>
						<li class='gedan'><a ui-sref="gedan"><span>歌单</span></a></li>
						<li class='xianchang'><a ui-sref="xianchang"><span>现场</span></a></li>
					</ul>
					<div class="divs">
						<div class="tuijian1">
						  <div class="ban swiper-container">
									<ul class='swiper-wrapper'>
										<li class='swiper-slide'><img src="music/2.gif" alt=""> </li>
										<li  class='swiper-slide'><img src="music/3.gif" alt=""></li>
										<li  class='swiper-slide'><img src="music/4.gif" alt=""></li>
									</ul>
						  </div>
						  <h4>每日推荐</h4>
						  <div class="cai">
									<dl>
										<dt><img src="music/61.png" alt=""></dt>
										<dd><b>猜你喜欢</b>根据收听习惯为你量身定制</dd>
									</dl>
									<dl>
										<dt><img src="music/60.png" alt=""></dt>
										<dd><b>男女主角拿错剧本演奇幻美颜剧照</b></dd>
									</dl>
									<dl>
										<dt><img src="music/59.png" alt=""></dt>
										<dd><b>孤独的你总有星辰作伴</b></dd>
									</dl>
									<dl>
										<dt><img src="music/58.png" alt=""></dt>
										<dd><b>无处安放你的青春灿烂的青春</b></dd>
									</dl>
									<dl>
										<dt><img src="music/57.png" alt=""></dt>
										<dd><b>你的名字</b></dd>
									</dl>
									<dl>
										<dt><img src="music/6.png" alt=""></dt>
										<dd><b>有种爱叫做距离有种爱叫做放手</b></dd>
									</dl>
						  </div>
					    </div>
					</div>
			   </div>
	        </div>	
	   </main>
	   <footer class="footer">
				<a ui-sref="lin">
				<dl class='dls dls2'>
					<dt><img src="music/96.png" alt=""></dt>
					<dd>
						<p>不是为谁而作的歌</p>
						<p>林俊杰</p>
					</dd>
					<span><i class='fa fa-play'></i><i class='fa fa-bars'></i></span>
				</dl>
				</a>
	   </footer>

